@charset "utf-8";
/// @author Arjun
@font-face {
  font-family: 'HanaB';
  src: local('NotoSHanaB'), url($baseURL+'/fonts/HanaB.woff2') format('woff2'), url($baseURL+'/fonts/HanaB.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HanaM';
  src: local('HanaM'), url($baseURL+'/fonts/HanaM.woff2') format('woff2'), url($baseURL+'/fonts/HanaM.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HanaL';
  src: local('HanaL'), url($baseURL+'/fonts/HanaL.woff2') format('woff2'), url($baseURL+'/fonts/HanaL.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NotoSans';
  src: local('NotoSans-Regular'), url($baseURL+'/fonts/NotoSansKR-Regular.woff2') format('woff2'), url($baseURL+'/fonts/NotoSansKR-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'NotoSans-Bold';
  src: local('NotoSans-Black'), url($baseURL+'/fonts/NotoSansKR-Black.woff2') format('woff2'), url($baseURL+'/fonts/NotoSansKR-Black.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}