@charset "utf-8";
.header-top{
    height: 130px;
    @include wa-1200;
}
.header-bottom-bg{
    background-color: $teal;
    .header-bottom{
        @include wa-1200;
    }
}
#container {
    @include wa-1200;
}