@charset "utf-8";
/// 공통 믹스인들
@mixin wa-1200 {
  width: 1200px;
  margin: 0 auto;
}
@mixin ellipsis {
  white-space: nowrap;
  overflow: hidden; 
  text-overflow: ellipsis;
}
@mixin linecamp($line:2, $fs:13) {
  overflow: hidden;
  display:-webkit-box;
  line-clamp: $line;
  -webkit-line-clamp: $line;
  max-height:1.5 * $fs * $line+'px';
  -webkit-box-orient: vertical;
}
@mixin user-sel-none {
  -ms-user-select: none; 
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   user-select: none;
}