@charset 'utf-8';
@font-face {
  font-family: 'HanaB';
  src: local('NotoSHanaB'), url($baseURL + '/fonts/HanaB.woff2') format('woff2'), url($baseURL + '/fonts/HanaB.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HanaM';
  src: local('HanaM'), url($baseURL + '/fonts/HanaM.woff2') format('woff2'), url($baseURL + '/fonts/HanaM.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSans';
  src: local('NotoSans-Regular'), url($baseURL + '/fonts/NotoSansKR-Regular.woff2') format('woff2'), url($baseURL + '/fonts/NotoSansKR-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

:root {
  font-size: 13px;
}

body {
  background: #f6f6f6 url($baseURL + '/images/common/bg_img@2x.png') no-repeat 50% 0 / 100% auto;
  font-size: 13px;
  font-family: NotoSans,-apple-system,BlinkMacSystemFont,'Malgun Gothic','맑은 고딕',helvetica,'Apple SD Gothic Neo',sans-serif;
  color: $brownish-grey;
  -webkit-font-smoothing: antialiased;
}
::placeholder {
  color: --charcoal-grey;
  opacity: 0.2;
}