@charset "utf-8";
//이미지 URL
$baseURL: "../../assets";
$baseImg: $baseURL + "/images";
$imgCommon: $baseImg + "/common";
$imgIcon: $baseImg + "/icon";

//색상(Primary, Secondary, State, Netural)
$light-grey: #eaeaea;
$white-02: #f9f9f9;
$white: #fff;
$brownish-grey: #666;
$charcoal-grey: #3c3f44;
$dusk: #435a7c;
$light-red: #ff4f50;
$pale-lilac: #f1efff;
$dark-lavender: #76719a;
$dark-aquamarine: #006e61;
$teal: #00a592;
