@charset "utf-8";
@import "variables";
@import "mixins";
@import "font";
@import "reset";
@import "typography";
@import "layout";
.is-hide{
    display: none;
}
.is-show {
    display: block;
}
.is-blind {
    overflow: hidden;
    border: 0;
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px,1px,1px,1px);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
}
.point-c-1{
    color: $dusk;
}
.point-c-2{
    color: $teal;
}
.point-error{
    color: $light-red;
}
.point-color-line-1{
    display: inline-block;
    position: relative;
    font-weight: bold;
    color: #3c3f44;
    font-family: 'NotoSans-Bold';
    &:after{
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        height: 6px;
        width: 100%;
        background-color: $teal;
        opacity: 0.2;
    }
}
#container{
    padding-bottom: 209px;
}
.header-wrap {
    .header-top {
        position: relative;
        .logo{
            position: absolute;
            left: 0;
            top: 36px;
        }
        .search-form-wrap{
            position: absolute;
            top: 50px;
            left: 228px;
            width: 972px;
            border: solid 6px $teal;
            background-color: $white;
            .form-input-1-1{
                width: calc(100% - 54px);
                height: 48px;
                font-family: HanaM;
                font-size: 16px;
                padding: 16px 40px 16px 18px;
                color: $charcoal-grey;
                &.delete {
                 ~ .btn-del {
                     display: block !important;
                 }
                }
            }
            .btn-sch-1{
                position: absolute;
                right: -6px;
                top: -6px;
                width: 60px;
                height: 60px;
                background: url($imgCommon + '/btn-search-1.png') no-repeat 0 0;
                text-indent: -9999px;
            }
            .btn-del{
                display: none;
                position: absolute;
                top: 12px;
                right: 76px;
                width: 24px;
                height: 24px;
                text-indent: -9999px;
                background: url($imgCommon + '/btn_del_txt.png') no-repeat 0 0;
            }
            .related-search-wrap{
                position: absolute;
                left: -6px;
                right: -6px;
                bottom: -6px;
                transform: translateY(100%);
                max-height: 505px;
                background-color: $white;
                box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.12);
                z-index: 10;
                .cont-scroll-box{
                    max-height: 505px;
                    padding: 16px 0 22px;
                    height: 100%;
                    overflow-y: auto;
                }
                .related-search-item  {
                    button{
                        width: 100%;
                        text-align: left;
                        font-size: 16px;
                        font-family: HanaL;
                        color: $charcoal-grey;
                        height: 36px;
                        padding: 0 24px;
                        &:hover, &:focus{
                            background-color: rgba(153, 153, 153, 0.1);
                        }
                    }
                    + .related-search-item {
                        padding-top: 6px;
                    }
                }
            }
        }
    }
    .header-bottom-bg{
        .header-bottom{
            .gnb{
                height: 60px;
                .gnb-list {
                    height: 100%;
                    display: flex;
                    justify-content: space-around;
                    align-items: stretch;
                    font-family: HanaM;
                    font-size: 18px;
                    color: $white;
                    .menu-li{
                        width: 200px;
                        display: flex;
                        align-items: center;
                        a {
                            width: 100%;
                            height: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            white-space: nowrap;
                            &.active{
                                background-color: rgba(0,110,97,0.1);
                                position: relative;
                                &:after{
                                    content: '';
                                    position: absolute;
                                    left: 0;
                                    bottom: 0;
                                    width: 100%;
                                    height: 3px;
                                    background-color: $dark-aquamarine;
                                }
                            }
                        }
                    }
                }
            }
        }
    }    
}
.search-result-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    .search-result-title-text{
        font-family: HanaB;
        font-size: 20px;
        color: $charcoal-grey;
    }
}
.search-result-contents {
    padding: 28px;
    background-color: $white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12);
}
.res-cont-box-1{
    border: 1px solid $light-grey;
    .tit-area-1 {
        display: flex;
        justify-content: space-between;
        padding: 14px 16px;
        .txt-tit-1{
            display: flex;
            width: calc(100% - 148px);
            align-items: center;
            font-family: HanaM;
            font-size: 16px;
            color: $charcoal-grey;
            img{
                vertical-align: middle;
                margin-right: 6px;
            }
            a{
                display: inline-block;
                width: 100%;
                @include ellipsis;
            }
        }
        .flag-ai-1{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            min-width: 108px;
            height: 40px;
            padding: 0 16px;
            background-color: #fff;
            border-radius: 20px;
            background-color: $pale-lilac;
            font-family: HanaB;
            font-size: 16px;
            color: $dark-lavender;
            white-space: nowrap;
            img{
                margin-right: 4px;
            }
        }
    }
    .cont-area-1{
        padding: 16px;
        background-color: $white-02;
        .cont-tit-1{
            font-family: NotoSans;
            font-size: 14px;
            font-weight: bold;
            + .cont-area-1-1{
                margin-top: 8px;
            }
            .depth {
                .arrow-right{
                    padding: 0 3px;
                }
            }
        }
        .cont-area-1-1 {
            &.text-line-short-2 {
                @include linecamp($line:2, $fs:13);
            }
        }
    }
    .footer-area-1{
        display: flex;
        justify-content: space-between;
        font-size: 12px;
        padding: 16px;
        color: #999;
        .footer-1-1,
        .footer-1-2,
        .footer-1-3{
            display: flex;
        }
        .footer-tit-1 {
            + .footer-item-dd-1 {
                margin-left: 4px;
            }
        }
        .footer-1-1 {
            .arrow-right {
                padding: 0 5px;
            }
        }
    }
    .footer-tit-1{
        font-weight: 600;
        color: $brownish-grey;
    }
    .footer-item-dt-1 {
        ~ .footer-item-dt-1{
            margin-left: 24px;
        }
        + .footer-item-dd-1 {
            position: relative;
            padding-left: 12px;
            &::before{
                position: absolute;
                left: 6px;
                top: 3px;
                content: '';
                width: 1px;
                height: 12px;
                background-color: #999;
            }
        }
    }
}
.all-acc-btn-wrap-1{
    overflow: hidden;
    .all-acc-btn{
        position: absolute;
        left: -99999px;
        
        &:checked {
            + .all-acc-btn-label {
                color: #3c3f44;
                font-weight: bold;
                &:before {
                    right: 3px;
                    background-color: $dusk;
                }
            }
        }
    }
    .all-acc-btn-label{
        cursor: pointer;
        display: flex;
        justify-content: center;
        position: relative;
        @include user-sel-none;
        &::before{
            position: absolute;
            content: '';
            transition: right 0.2s linear;
            right: 23px;
            top: 3px;
            width: 18px;
            height: 18px;
            border-radius: 50%;
            background-color: #dcdcdc;
            
        }
        &:after{
            content: '';    
            display: inline-block;
            width: 44px;
            height: 24px;
            margin-left: 8px;
            border-radius: 12px;
            background-color: #eaeaea9e;
        }
    }
}
.acc-list-1{
    .list-item {
        ~ .list-item {
            margin-top: 10px;
        }
    }
    .acc-top-area{
        .acc-btn-1 {
            position: relative;
            width: 100%;
            display: flex;
            align-items: center;
            font-family:  HanaM;
            font-size: 15px;
            height: 52px;   
            border: solid 1px $light-grey;
            .acc-btn-link{
                display: block;
                padding: 16px 45px 16px 16px;
                @include ellipsis;
            }
            &:hover, &:focus{
                border-color: #435a7c66;
            }
            &:after{
                content: '';
                position: absolute;
                right: 20px;
                top: 18px;
                width: 10px;
                height: 10px;
                border: 1px solid #999;
                border-left: 1px solid transparent;
                border-top: 1px solid transparent;
                transform: rotate(45deg);
            }

        }
        .acc-btn-2{
            position: absolute;
            right: 0;
            top: 0;
            width: 52px;
            height: 52px;
            z-index: 2;
        }
        &.active{
            .acc-btn-1 {
                &:after{
                    top: 23px;
                    transform: rotate(-135deg);
                }
            }
            + .acc-bottom-area { 
                display: block;
            }
        }
    }
    .acc-bottom-area{
        display: none;
        .res-cont-box-1{
            border: none;
            .footer-area-1{
                background-color: $white-02;
            }
            .footer-area-1{
                padding-top: 0;
            }
        }
    }
}
.btn-like-group{
    .btn-like-yes, .btn-like-no{
        position: relative;
        top: -2px;
        vertical-align: middle;
        width: 24px;
        height: 24px;
        background: url($imgCommon + '/btn_thum_up.png') no-repeat 0 0;
        text-indent: -9999px;
    }
    .btn-like-yes{
        margin-left: 10px;
        &:hover, &:focus{
            background-image: url($imgCommon + '/btn_thum_up_hover.png');
        }
        &.actived{
            // cursor:default;
            background-image: url($imgCommon + '/btn_thum_up_on.png');
        }
    }
    .btn-like-no{
        margin-left: 4px;   
        background-image: url($imgCommon + '/btn_thum_down.png');
        &:hover, &:focus{
            background-image: url($imgCommon + '/btn_thum_down_hover.png');
        }
        &.actived{
            // cursor:default;
            background-image: url($imgCommon + '/btn_thum_down_on.png');
        }
    }
}
.info-page-status{
    position: relative;
    span.info-txt{
        font-size: 12px;
        color: #999;
        position: absolute;
        top: 18px;
        left: 12px;
    }
}
.pagination-wrap{
    margin-top: 12px;
    display: flex;
    justify-content: center;
    .pagination{
        display: flex;
        justify-content: center;
        .page-no-number{
            display: flex;
            align-items: center;
            a{
                display: block;
                width: 32px;
                height: 32px;
                background: url($imgCommon + '/icon_page_back_10_32.png') no-repeat 0 0;
                text-indent: -99999px;
                overflow: hidden;
                &:hover, &:focus {
                    text-decoration: none;
                    border-radius: 50%;
                    background-color: #d5d7f866;
                }
            }
            &.page-prev-move{
                a{
                    background-image: url($imgCommon + '/icon_page_back_32.png');
                }
            }
            &.page-next-move{
                a{
                    background-image: url($imgCommon + '/icon_page_front_32.png');
                }
            }
            &.page-last-move{
                a{
                    background-image: url($imgCommon + '/icon_page_front_10_32.png');
                }
            }
        }
        .pagination-numbers{
            height: 32px;
            display: flex;
            align-items: center;
            color: #999;
            a {
                display: flex;
                justify-content: center;
                line-height: 23px;
                width: 24px;
                height: 24px;
                border-radius: 50%;
                margin-left: 4px;
                text-decoration: none;
                &:hover, &:focus {
                    border: 1px solid $light-grey;
                    line-height: 22px;
                }
                &.active{
                    cursor: default;
                    background-color:$teal;
                    color: $white;
                    box-shadow: 0 3px 6px 0 #62bcb166;
                    border: none !important;
                }
            }
        }
    }
    
}
.search-mrc-list{
    .search-mrc-list-item{
        + .search-mrc-list-item{
            margin-top: 8px;
        }
    }
}
.search-bbs-wrap{
    .bbs-btn-options-wrap{
        width: 142px;
        height: 32px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 16px;
        background-color: $white;
        label[class*="bbs-options-label-"]{
            width: 72px;
            height: 26px;
            .option-text-1{
                display: flex;
                justify-content: center;
                align-items: center;
                line-height: 26px;
                color: #999;
                width: 100%;
                height: 100%;
                border-radius: 13px;
                @include user-sel-none;
    
            }
        }
        input:checked {
            + .option-text-1 {
                background-color: $charcoal-grey;
                color: $white;
            }
        }
    }
    .search-bbs-list{
        .search-bbs-item{
            padding: 0 8px;
            border-bottom: 1px solid $light-grey;
            .res-cont-box-1{
                border: none;
            }
            
        }
    }
}

.search-result-none-wrap{
    padding-top: 24px;
    text-align: center;
    .search-result-contents{
        padding: 56px;
        .search-result-img{
            padding-bottom: 24px;
        }
        .search-result-info-wrap{
            .search-result-info-tit {
                font-family: HanaL;
                font-size: 18px;
                color: $charcoal-grey;
                + .search-result-info-txt-1 {
                    margin-top: 24px;
                }
            }
            .search-result-info-txt-1{
                font-family: HanaM;
                font-size: 14px;
                color: $charcoal-grey;
                + .search-result-info-list {
                    margin-top: 12px;
                }
            }
            .search-result-info-list{
                font-size: 14px;
            }
        }
    }
}

.error-code-wrap{
    padding-top: 75px;
    margin: 0 auto;
    width: 720px;
    .error-round-box{
        margin-top: 25px;
        position: relative;
        height: 368px;
        border-radius: 24px;
        padding: 64px 40px 36px;
        background-color: $white;
        .error-top-area{
            padding-left: 240px;
            padding-bottom: 39px;
            border-bottom: 1px solid $light-grey;
            .error-img{
                position: absolute;
                top: 64px;
                left: 80px;
            }
            .error-tit-1{
                font-family: HanaM;
                font-size: 24px;
                color: $charcoal-grey;
            }
            .error-tit-2{
                font-family: HanaM;
                margin-top: 8px;
                font-size: 24px;
                color: $light-red;
            }
            .error-txt-1{
                margin-top: 24px;
                font-family: HanaL;
                font-size: 16px;
                color: #999;
            }
        }
        .error-bottom-area{
            padding-top: 36px;
            text-align: center;
        }
    }
}
.btn-wrap{
    .btn-win-close{
        background-color: $charcoal-grey;
        width: 160px;
        height: 48px;
        color: $white;
        font-family: HanaM;
        font-size: 16px;
    }
}