@charset "UTF-8";
:root {
  --light-grey: #eaeaea;
  --white-02: #f9f9f9;
  --white: #fff;
  --brownish-grey: #666;
  --charcoal-grey: #3c3f44;
  --dusk: #435a7c;
  --light-red: #ff4f50;
  --pale-lilac: #f1efff;
  --dark-lavender: #76719a;
  --dark-aquamarine: #006e61;
  --teal: #00a592;
}

@font-face {
  font-family: 'HanaB';
  src: local("NotoSHanaB"), url("/assets/fonts/HanaB.woff2") format("woff2"), url("/assets/fonts/HanaB.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HanaM';
  src: local("HanaM"), url("/assets/fonts/HanaM.woff2") format("woff2"), url("/assets/fonts/HanaM.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSans';
  src: local("NotoSans-Regular"), url("/assets/fonts/NotoSansKR-Regular.woff2") format("woff2"), url("/assets/fonts/NotoSansKR-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

:root {
  font-size: 13px;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-break: break-all;
}

.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.hide {
  display: none !important;
}

#u-skip {
  position: relative;
  z-index: 3000;
}

#u-skip a {
  position: absolute;
  top: -30px;
  left: 0;
  width: 138px;
  border: 1px solid #ababab;
  background: #333;
  text-align: center;
}

#u-skip a:active,
#u-skip a:focus {
  top: 0;
  text-decoration: none;
  z-index: 1000;
}

#u-skip span {
  display: inline-block;
  padding: 2px 6px 0 0;
  font-size: 13px;
  line-height: 26px;
  color: #fff;
  letter-spacing: -1px;
  white-space: nowrap;
}

body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
li,
ol,
p,
select,
table,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
}

body,
button,
input,
select,
table,
textarea {
  color: #000;
  font-family: "NotoSans",-apple-system,BlinkMacSystemFont,"Malgun Gothic","맑은 고딕",helvetica,"Apple SD Gothic Neo",sans-serif;
}

body::-webkit-scrollbar,
body ::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

body::-webkit-scrollbar-thumb,
body ::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  background-clip: padding-box;
  border: 1px solid transparent;
}

body::-webkit-scrollbar-track, body::-webkit-scrollbar-track {
  background: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  line-height: inherit;
  font-weight: 400;
}

textarea {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: transparent;
  border: 0;
  word-break: keep-all;
  word-wrap: break-word;
}

button,
input {
  border-radius: 0;
  border: 0;
}

button {
  background-color: transparent;
  cursor: pointer;
}

button:disabled {
  cursor: no-drop !important;
}

fieldset,
img {
  border: 0;
}

img {
  vertical-align: top;
}

ol,
ul {
  list-style: none;
}

address,
em {
  font-style: normal;
}

a {
  color: inherit;
  text-decoration: none;
}
/* 
a:hover {
  text-decoration: underline;
} */
iframe {
  overflow: hidden;
  margin: 0;
  border: 0;
  padding: 0;
  vertical-align: top;
}

mark {
  background-color: transparent;
}

i {
  font-style: normal;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="search"]:focus,
input[type="email"]:focus,
textarea:focus {
  outline-color: #000;
}

@font-face {
  font-family: 'HanaB';
  src: local("NotoSHanaB"), url("/assets/fonts/HanaB.woff2") format("woff2"), url("/assets/fonts/HanaB.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HanaM';
  src: local("HanaM"), url("/assets/fonts/HanaM.woff2") format("woff2"), url("/assets/fonts/HanaM.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSans';
  src: local("NotoSans-Regular"), url("/assets/fonts/NotoSansKR-Regular.woff2") format("woff2"), url("/assets/fonts/NotoSansKR-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

:root {
  font-size: 13px;
}

body {
  background: #f6f6f6 url(/assets/images/common/bg_img@2x.png) no-repeat 50% 0/100% auto;
  font-size: 13px;
  font-family: NotoSans;
  color: var(--brownish-grey);
}

::-webkit-input-placeholder {
  color: --charcoal-grey;
  opacity: 0.2;
}

:-ms-input-placeholder {
  color: --charcoal-grey;
  opacity: 0.2;
}

::-ms-input-placeholder {
  color: --charcoal-grey;
  opacity: 0.2;
}

::placeholder {
  color: --charcoal-grey;
  opacity: 0.2;
}

.header-top {
  height: 130px;
  width: 1200px;
  margin: 0 auto;
}

.header-bottom-bg {
  background-color: var(--teal);
}

.header-bottom-bg .header-bottom {
  width: 1200px;
  margin: 0 auto;
}

#container {
  width: 1200px;
  margin: 0 auto;
}

.point-c-1 {
  color: var(--dusk);
}

.header-bottom-bg .header-bottom .gnb {
  height: 60px;
}

.header-bottom-bg .header-bottom .gnb .gnb-list {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  font-family: HanaM;
  font-size: 18px;
  color: var(--white);
}

.header-bottom-bg .header-bottom .gnb .gnb-list .menu-li {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-bottom-bg .header-bottom .gnb .gnb-list .menu-li a {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-bottom-bg .header-bottom .gnb .gnb-list .menu-li a.active {
  background-color: rgba(0, 110, 97, 0.1);
  position: relative;
}

.header-bottom-bg .header-bottom .gnb .gnb-list .menu-li a.active:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: var(--dark-aquamarine);
}
