@charset "UTF-8";
@font-face {
  font-family: 'HanaB';
  src: local("NotoSHanaB"), url("../../assets/fonts/HanaB.woff2") format("woff2"), url("../../assets/fonts/HanaB.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HanaM';
  src: local("HanaM"), url("../../assets/fonts/HanaM.woff2") format("woff2"), url("../../assets/fonts/HanaM.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HanaL';
  src: local("HanaL"), url("../../assets/fonts/HanaL.woff2") format("woff2"), url("../../assets/fonts/HanaL.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSans';
  src: local("NotoSans-Regular"), url("../../assets/fonts/NotoSansKR-Regular.woff2") format("woff2"), url("../../assets/fonts/NotoSansKR-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSans-Bold';
  src: local("NotoSans-Black"), url("../../assets/fonts/NotoSansKR-Black.woff2") format("woff2"), url("../../assets/fonts/NotoSansKR-Black.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

:root {
  font-size: 13px;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-break: break-all;
}

.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.hide {
  display: none !important;
}

#u-skip {
  position: relative;
  z-index: 3000;
}

#u-skip a {
  position: absolute;
  top: -30px;
  left: 0;
  width: 138px;
  border: 1px solid #ababab;
  background: #333;
  text-align: center;
}

#u-skip a:active,
#u-skip a:focus {
  top: 0;
  text-decoration: none;
  z-index: 1000;
}

#u-skip span {
  display: inline-block;
  padding: 2px 6px 0 0;
  font-size: 13px;
  line-height: 26px;
  color: #fff;
  letter-spacing: -1px;
  white-space: nowrap;
}

body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
li,
ol,
p,
select,
table,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
  -webkit-transform: skew(-0.1deg);
          transform: skew(-0.1deg);
}

body,
button,
input,
select,
table,
textarea {
  color: #000;
  font-family: -apple-system,BlinkMacSystemFont,"Malgun Gothic","맑은 고딕",helvetica,"Apple SD Gothic Neo",sans-serif;
}

body::-webkit-scrollbar,
body ::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

body::-webkit-scrollbar-thumb,
body ::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  background-clip: padding-box;
  border: 1px solid transparent;
}

body::-webkit-scrollbar-track, body::-webkit-scrollbar-track {
  background: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  line-height: inherit;
  font-weight: 400;
}

textarea {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: transparent;
  border: 0;
  word-break: keep-all;
  word-wrap: break-word;
}

button,
input {
  border-radius: 0;
  border: 0;
}

button {
  background-color: transparent;
  cursor: pointer;
}

button:disabled {
  cursor: no-drop !important;
}

fieldset,
img {
  border: 0;
  vertical-align: top;
}

ol,
ul {
  list-style: none;
}

address,
em {
  font-style: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

iframe {
  overflow: hidden;
  margin: 0;
  border: 0;
  padding: 0;
  vertical-align: top;
}

mark {
  background-color: transparent;
}

i {
  font-style: normal;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="search"]:focus,
input[type="email"]:focus,
textarea:focus {
  outline-color: #000;
}

@font-face {
  font-family: 'HanaB';
  src: local("NotoSHanaB"), url("../../assets/fonts/HanaB.woff2") format("woff2"), url("../../assets/fonts/HanaB.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HanaM';
  src: local("HanaM"), url("../../assets/fonts/HanaM.woff2") format("woff2"), url("../../assets/fonts/HanaM.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSans';
  src: local("NotoSans-Regular"), url("../../assets/fonts/NotoSansKR-Regular.woff2") format("woff2"), url("../../assets/fonts/NotoSansKR-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

:root {
  font-size: 13px;
}

body {
  background: #f6f6f6 url("../../assets/images/common/bg_img@2x.png") no-repeat 50% 0/100% auto;
  font-size: 13px;
  font-family: NotoSans,-apple-system,BlinkMacSystemFont,'Malgun Gothic','맑은 고딕',helvetica,'Apple SD Gothic Neo',sans-serif;
  color: #666;
  -webkit-font-smoothing: antialiased;
}

::-webkit-input-placeholder {
  color: --charcoal-grey;
  opacity: 0.2;
}

:-ms-input-placeholder {
  color: --charcoal-grey;
  opacity: 0.2;
}

::-ms-input-placeholder {
  color: --charcoal-grey;
  opacity: 0.2;
}

::placeholder {
  color: --charcoal-grey;
  opacity: 0.2;
}

.header-top {
  height: 130px;
  width: 1200px;
  margin: 0 auto;
}

.header-bottom-bg {
  background-color: #00a592;
}

.header-bottom-bg .header-bottom {
  width: 1200px;
  margin: 0 auto;
}

#container {
  width: 1200px;
  margin: 0 auto;
}

.is-hide {
  display: none;
}

.is-show {
  display: block;
}

.is-blind {
  overflow: hidden;
  border: 0;
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
}

.point-c-1 {
  color: #435a7c;
}

.point-c-2 {
  color: #00a592;
}

.point-error {
  color: #ff4f50;
}

.point-color-line-1 {
  display: inline-block;
  position: relative;
  font-weight: bold;
  color: #3c3f44;
  font-family: 'NotoSans-Bold';
}

.point-color-line-1:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 6px;
  width: 100%;
  background-color: #00a592;
  opacity: 0.2;
}

#container {
  padding-bottom: 209px;
}

.header-wrap .header-top {
  position: relative;
}

.header-wrap .header-top .logo {
  position: absolute;
  left: 0;
  top: 36px;
}

.header-wrap .header-top .search-form-wrap {
  position: absolute;
  top: 50px;
  left: 228px;
  width: 972px;
  border: solid 6px #00a592;
  background-color: #fff;
}

.header-wrap .header-top .search-form-wrap .form-input-1-1 {
  width: calc(100% - 54px);
  height: 48px;
  font-family: HanaM;
  font-size: 16px;
  padding: 16px 40px 16px 18px;
  color: #3c3f44;
}

.header-wrap .header-top .search-form-wrap .form-input-1-1.delete ~ .btn-del {
  display: block !important;
}

.header-wrap .header-top .search-form-wrap .btn-sch-1 {
  position: absolute;
  right: -6px;
  top: -6px;
  width: 60px;
  height: 60px;
  background: url("../../assets/images/common/btn-search-1.png") no-repeat 0 0;
  text-indent: -9999px;
}

.header-wrap .header-top .search-form-wrap .btn-del {
  display: none;
  position: absolute;
  top: 12px;
  right: 76px;
  width: 24px;
  height: 24px;
  text-indent: -9999px;
  background: url("../../assets/images/common/btn_del_txt.png") no-repeat 0 0;
}

.header-wrap .header-top .search-form-wrap .related-search-wrap {
  position: absolute;
  left: -6px;
  right: -6px;
  bottom: -6px;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  max-height: 505px;
  background-color: #fff;
  -webkit-box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.12);
  z-index: 10;
}

.header-wrap .header-top .search-form-wrap .related-search-wrap .cont-scroll-box {
  max-height: 505px;
  padding: 16px 0 22px;
  height: 100%;
  overflow-y: auto;
}

.header-wrap .header-top .search-form-wrap .related-search-wrap .related-search-item button {
  width: 100%;
  text-align: left;
  font-size: 16px;
  font-family: HanaL;
  color: #3c3f44;
  height: 36px;
  padding: 0 24px;
}

.header-wrap .header-top .search-form-wrap .related-search-wrap .related-search-item button:hover, .header-wrap .header-top .search-form-wrap .related-search-wrap .related-search-item button:focus {
  background-color: rgba(153, 153, 153, 0.1);
}

.header-wrap .header-top .search-form-wrap .related-search-wrap .related-search-item + .related-search-item {
  padding-top: 6px;
}

.header-wrap .header-bottom-bg .header-bottom .gnb {
  height: 60px;
}

.header-wrap .header-bottom-bg .header-bottom .gnb .gnb-list {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  font-family: HanaM;
  font-size: 18px;
  color: #fff;
}

.header-wrap .header-bottom-bg .header-bottom .gnb .gnb-list .menu-li {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-wrap .header-bottom-bg .header-bottom .gnb .gnb-list .menu-li a {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
}

.header-wrap .header-bottom-bg .header-bottom .gnb .gnb-list .menu-li a.active {
  background-color: rgba(0, 110, 97, 0.1);
  position: relative;
}

.header-wrap .header-bottom-bg .header-bottom .gnb .gnb-list .menu-li a.active:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: #006e61;
}

.search-result-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
}

.search-result-title .search-result-title-text {
  font-family: HanaB;
  font-size: 20px;
  color: #3c3f44;
}

.search-result-contents {
  padding: 28px;
  background-color: #fff;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12);
}

.res-cont-box-1 {
  border: 1px solid #eaeaea;
}

.res-cont-box-1 .tit-area-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 14px 16px;
}

.res-cont-box-1 .tit-area-1 .txt-tit-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(100% - 148px);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: HanaM;
  font-size: 16px;
  color: #3c3f44;
}

.res-cont-box-1 .tit-area-1 .txt-tit-1 img {
  vertical-align: middle;
  margin-right: 6px;
}

.res-cont-box-1 .tit-area-1 .txt-tit-1 a {
  display: inline-block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.res-cont-box-1 .tit-area-1 .flag-ai-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 108px;
  height: 40px;
  padding: 0 16px;
  background-color: #fff;
  border-radius: 20px;
  background-color: #f1efff;
  font-family: HanaB;
  font-size: 16px;
  color: #76719a;
  white-space: nowrap;
}

.res-cont-box-1 .tit-area-1 .flag-ai-1 img {
  margin-right: 4px;
}

.res-cont-box-1 .cont-area-1 {
  padding: 16px;
  background-color: #f9f9f9;
}

.res-cont-box-1 .cont-area-1 .cont-tit-1 {
  font-family: NotoSans;
  font-size: 14px;
  font-weight: bold;
}

.res-cont-box-1 .cont-area-1 .cont-tit-1 + .cont-area-1-1 {
  margin-top: 8px;
}

.res-cont-box-1 .cont-area-1 .cont-tit-1 .depth .arrow-right {
  padding: 0 3px;
}

.res-cont-box-1 .cont-area-1 .cont-area-1-1.text-line-short-2 {
  overflow: hidden;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  max-height: "39px";
  -webkit-box-orient: vertical;
}

.res-cont-box-1 .footer-area-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 12px;
  padding: 16px;
  color: #999;
}

.res-cont-box-1 .footer-area-1 .footer-1-1,
.res-cont-box-1 .footer-area-1 .footer-1-2,
.res-cont-box-1 .footer-area-1 .footer-1-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.res-cont-box-1 .footer-area-1 .footer-tit-1 + .footer-item-dd-1 {
  margin-left: 4px;
}

.res-cont-box-1 .footer-area-1 .footer-1-1 .arrow-right {
  padding: 0 5px;
}

.res-cont-box-1 .footer-tit-1 {
  font-weight: 600;
  color: #666;
}

.res-cont-box-1 .footer-item-dt-1 ~ .footer-item-dt-1 {
  margin-left: 24px;
}

.res-cont-box-1 .footer-item-dt-1 + .footer-item-dd-1 {
  position: relative;
  padding-left: 12px;
}

.res-cont-box-1 .footer-item-dt-1 + .footer-item-dd-1::before {
  position: absolute;
  left: 6px;
  top: 3px;
  content: '';
  width: 1px;
  height: 12px;
  background-color: #999;
}

.all-acc-btn-wrap-1 {
  overflow: hidden;
}

.all-acc-btn-wrap-1 .all-acc-btn {
  position: absolute;
  left: -99999px;
}

.all-acc-btn-wrap-1 .all-acc-btn:checked + .all-acc-btn-label {
  color: #3c3f44;
  font-weight: bold;
}

.all-acc-btn-wrap-1 .all-acc-btn:checked + .all-acc-btn-label:before {
  right: 3px;
  background-color: #435a7c;
}

.all-acc-btn-wrap-1 .all-acc-btn-label {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  user-select: none;
}

.all-acc-btn-wrap-1 .all-acc-btn-label::before {
  position: absolute;
  content: '';
  -webkit-transition: right 0.2s linear;
  transition: right 0.2s linear;
  right: 23px;
  top: 3px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #dcdcdc;
}

.all-acc-btn-wrap-1 .all-acc-btn-label:after {
  content: '';
  display: inline-block;
  width: 44px;
  height: 24px;
  margin-left: 8px;
  border-radius: 12px;
  background-color: #eaeaea9e;
}

.acc-list-1 .list-item ~ .list-item {
  margin-top: 10px;
}

.acc-list-1 .acc-top-area .acc-btn-1 {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: HanaM;
  font-size: 15px;
  height: 52px;
  border: solid 1px #eaeaea;
}

.acc-list-1 .acc-top-area .acc-btn-1 .acc-btn-link {
  display: block;
  padding: 16px 45px 16px 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.acc-list-1 .acc-top-area .acc-btn-1:hover, .acc-list-1 .acc-top-area .acc-btn-1:focus {
  border-color: #435a7c66;
}

.acc-list-1 .acc-top-area .acc-btn-1:after {
  content: '';
  position: absolute;
  right: 20px;
  top: 18px;
  width: 10px;
  height: 10px;
  border: 1px solid #999;
  border-left: 1px solid transparent;
  border-top: 1px solid transparent;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.acc-list-1 .acc-top-area .acc-btn-2 {
  position: absolute;
  right: 0;
  top: 0;
  width: 52px;
  height: 52px;
  z-index: 2;
}

.acc-list-1 .acc-top-area.active .acc-btn-1:after {
  top: 23px;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.acc-list-1 .acc-top-area.active + .acc-bottom-area {
  display: block;
}

.acc-list-1 .acc-bottom-area {
  display: none;
}

.acc-list-1 .acc-bottom-area .res-cont-box-1 {
  border: none;
}

.acc-list-1 .acc-bottom-area .res-cont-box-1 .footer-area-1 {
  background-color: #f9f9f9;
}

.acc-list-1 .acc-bottom-area .res-cont-box-1 .footer-area-1 {
  padding-top: 0;
}

.btn-like-group .btn-like-yes, .btn-like-group .btn-like-no {
  position: relative;
  top: -2px;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  background: url("../../assets/images/common/btn_thum_up.png") no-repeat 0 0;
  text-indent: -9999px;
}

.btn-like-group .btn-like-yes {
  margin-left: 10px;
}

.btn-like-group .btn-like-yes:hover, .btn-like-group .btn-like-yes:focus {
  background-image: url("../../assets/images/common/btn_thum_up_hover.png");
}

.btn-like-group .btn-like-yes.actived {
  background-image: url("../../assets/images/common/btn_thum_up_on.png");
}

.btn-like-group .btn-like-no {
  margin-left: 4px;
  background-image: url("../../assets/images/common/btn_thum_down.png");
}

.btn-like-group .btn-like-no:hover, .btn-like-group .btn-like-no:focus {
  background-image: url("../../assets/images/common/btn_thum_down_hover.png");
}

.btn-like-group .btn-like-no.actived {
  background-image: url("../../assets/images/common/btn_thum_down_on.png");
}

.info-page-status {
  position: relative;
}

.info-page-status span.info-txt {
  font-size: 12px;
  color: #999;
  position: absolute;
  top: 18px;
  left: 12px;
}

.pagination-wrap {
  margin-top: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination-wrap .pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination-wrap .pagination .page-no-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pagination-wrap .pagination .page-no-number a {
  display: block;
  width: 32px;
  height: 32px;
  background: url("../../assets/images/common/icon_page_back_10_32.png") no-repeat 0 0;
  text-indent: -99999px;
  overflow: hidden;
}

.pagination-wrap .pagination .page-no-number a:hover, .pagination-wrap .pagination .page-no-number a:focus {
  text-decoration: none;
  border-radius: 50%;
  background-color: #d5d7f866;
}

.pagination-wrap .pagination .page-no-number.page-prev-move a {
  background-image: url("../../assets/images/common/icon_page_back_32.png");
}

.pagination-wrap .pagination .page-no-number.page-next-move a {
  background-image: url("../../assets/images/common/icon_page_front_32.png");
}

.pagination-wrap .pagination .page-no-number.page-last-move a {
  background-image: url("../../assets/images/common/icon_page_front_10_32.png");
}

.pagination-wrap .pagination .pagination-numbers {
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #999;
}

.pagination-wrap .pagination .pagination-numbers a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 23px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-left: 4px;
  text-decoration: none;
}

.pagination-wrap .pagination .pagination-numbers a:hover, .pagination-wrap .pagination .pagination-numbers a:focus {
  border: 1px solid #eaeaea;
  line-height: 22px;
}

.pagination-wrap .pagination .pagination-numbers a.active {
  cursor: default;
  background-color: #00a592;
  color: #fff;
  -webkit-box-shadow: 0 3px 6px 0 #62bcb166;
          box-shadow: 0 3px 6px 0 #62bcb166;
  border: none !important;
}

.search-mrc-list .search-mrc-list-item + .search-mrc-list-item {
  margin-top: 8px;
}

.search-bbs-wrap .bbs-btn-options-wrap {
  width: 142px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 16px;
  background-color: #fff;
}

.search-bbs-wrap .bbs-btn-options-wrap label[class*="bbs-options-label-"] {
  width: 72px;
  height: 26px;
}

.search-bbs-wrap .bbs-btn-options-wrap label[class*="bbs-options-label-"] .option-text-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 26px;
  color: #999;
  width: 100%;
  height: 100%;
  border-radius: 13px;
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  user-select: none;
}

.search-bbs-wrap .bbs-btn-options-wrap input:checked + .option-text-1 {
  background-color: #3c3f44;
  color: #fff;
}

.search-bbs-wrap .search-bbs-list .search-bbs-item {
  padding: 0 8px;
  border-bottom: 1px solid #eaeaea;
}

.search-bbs-wrap .search-bbs-list .search-bbs-item .res-cont-box-1 {
  border: none;
}

.search-result-none-wrap {
  padding-top: 24px;
  text-align: center;
}

.search-result-none-wrap .search-result-contents {
  padding: 56px;
}

.search-result-none-wrap .search-result-contents .search-result-img {
  padding-bottom: 24px;
}

.search-result-none-wrap .search-result-contents .search-result-info-wrap .search-result-info-tit {
  font-family: HanaL;
  font-size: 18px;
  color: #3c3f44;
}

.search-result-none-wrap .search-result-contents .search-result-info-wrap .search-result-info-tit + .search-result-info-txt-1 {
  margin-top: 24px;
}

.search-result-none-wrap .search-result-contents .search-result-info-wrap .search-result-info-txt-1 {
  font-family: HanaM;
  font-size: 14px;
  color: #3c3f44;
}

.search-result-none-wrap .search-result-contents .search-result-info-wrap .search-result-info-txt-1 + .search-result-info-list {
  margin-top: 12px;
}

.search-result-none-wrap .search-result-contents .search-result-info-wrap .search-result-info-list {
  font-size: 14px;
}

.error-code-wrap {
  padding-top: 75px;
  margin: 0 auto;
  width: 720px;
}

.error-code-wrap .error-round-box {
  margin-top: 25px;
  position: relative;
  height: 368px;
  border-radius: 24px;
  padding: 64px 40px 36px;
  background-color: #fff;
}

.error-code-wrap .error-round-box .error-top-area {
  padding-left: 240px;
  padding-bottom: 39px;
  border-bottom: 1px solid #eaeaea;
}

.error-code-wrap .error-round-box .error-top-area .error-img {
  position: absolute;
  top: 64px;
  left: 80px;
}

.error-code-wrap .error-round-box .error-top-area .error-tit-1 {
  font-family: HanaM;
  font-size: 24px;
  color: #3c3f44;
}

.error-code-wrap .error-round-box .error-top-area .error-tit-2 {
  font-family: HanaM;
  margin-top: 8px;
  font-size: 24px;
  color: #ff4f50;
}

.error-code-wrap .error-round-box .error-top-area .error-txt-1 {
  margin-top: 24px;
  font-family: HanaL;
  font-size: 16px;
  color: #999;
}

.error-code-wrap .error-round-box .error-bottom-area {
  padding-top: 36px;
  text-align: center;
}

.btn-wrap .btn-win-close {
  background-color: #3c3f44;
  width: 160px;
  height: 48px;
  color: #fff;
  font-family: HanaM;
  font-size: 16px;
}
